* ::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: right;
  gap: 40px;
  padding: 10px;
  /* text-decoration: none; */
  position: fixed;
  width: 100%;
  top: 0;
}

.li-items {
  color: white;
  list-style: none;
}


li:hover {
  color: rgb(212, 212, 212);
  text-decoration: none;
}

/* home css */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.main-body {
  color: white;
  background-image: linear-gradient(to bottom right, #080614, #350b12);
}

.container {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
}

.content {
  text-justify: newspaper;
}

.home-btn {
  background-image: linear-gradient(to bottom right, #080614, #350b12);
  color: #1650c9;
  border: 1px solid #1650c9;
  border-radius: 5px;
  /* pointer:cursor; */
}

.Categories {
  list-style: none;
}

.Categories:hover {
  color: rgb(141, 141, 141);
  box-shadow: 0 1x #fffeff;
}

.products-list:hover {
  text-decoration: underline;
  color: #080614;
  cursor: pointer;
}

.home-btn:hover {
  background: none;
  color: aliceblue;
}

/* contect css*/
.contect-h1 {
  text-align: center;
  padding: 20px 50px;
  color: red;
}

/* .row {
  width: 50%;
  margin: 50px auto;
  border-right: none;
  box-shadow: 4px 3px 14px 1px black;
} */

.check-box-div {
  display: flex;
  gap: 10px;
}

.login-btn {
  background-color: #d430b4;
  color: white;
  border: none;
  padding: 5px 30px;
  border-radius: 6px;
  margin-right: 10px;
}

.create-btn {
  color: #d430b4;
  border: none;
  padding: 5px 30px;
  border-radius: 6px;
}

.center {
  text-align: center;
  margin: 20px auto;
}

/* Product css */
.d-flex {
  padding: 30px 10px;
  margin-top: 30px;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* border: 2px solid blue; */

}

.left {
  padding: 2rem 2rem 0;
  border: 2px solid black;
  /* width: 50%; */
  /* text-align: center; */
}